
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


section {
  padding: 0;

  &:not(.hero) {
    padding-bottom: 6rem;

    @media all and (max-width: 750px) {
      padding-bottom: 4rem;
    }
  }
}

.container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  max-width: 1200px;

  &--sm {
    max-width: 900px;
  }
}

.section-title {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
  font-weight: 700;
  font-family: t.$ff-accent;
  color: hsl(240, 97%, 20%);
  margin-bottom: 1.5rem;
} 

.subtitle {
  font-size: clamp(1rem, 3vw, 1.15rem);
  margin-bottom: 2.5rem;
  font-weight: 300;
  color: hsl(0, 0%, 50%);
}

.link-wrapper {
  display: block;
}

.full-size {
  min-height: 80vh;
  padding: 3rem 0;
  margin: calc(0.5rem + 0.5vw) auto;
}
