
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/radius" as r;


section {
  padding: 0;

  &:not(.hero) {
    padding-bottom: 6rem;

    @media all and (max-width: 750px) {
      padding-bottom: 4rem;
    }
  }
}

.container {
  width: calc(100% - 2.5rem);
  margin: 0 auto;
  max-width: 1200px;

  &--sm {
    @extend .container;
    max-width: 900px;
  }
}

.section-title,
.subsection-title {
  font-family: t.$ff-accent;
  color: c.$fc-accent;
} 

.section-title {
  font-weight: 700;
  font-size: clamp(1.75rem, 4vw, 2.25rem);
  margin-bottom: 1rem;
}

.subsection-title {
  font-weight: 600;
  font-size: clamp(1.35rem, 3vw, 1.75rem);
  margin-bottom: 1rem;
}

.subtitle {
  font-size: clamp(1rem, 3vw, 1.15rem);
  margin-bottom: 2.5rem;
  font-weight: 300;
  color: hsl(0, 0%, 50%);
}

.link {
  color: c.$clr-secondary-100;
  text-decoration: underline;

  &:hover {
    color: c.$clr-secondary-200;
  }

  &--light {
    @extend .link;
    color: c.$fc-secondary;

    &:hover {
      color: c.$fc-secondary;
    }
  }
}

.link-wrapper {
  display: block;
}

.full-size {
  min-height: 90vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  
  @media only screen and (min-width: 800px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.display-img {
  box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.25);   
  border-radius: r.$radius-1;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &--even {
    @extend .columns;
    @media only screen and (min-width: 800px) {
      flex-direction: row;

      & > * {
        width: 50%;
      }
    }
  }

  &--2-1 {
    @extend .columns;
    @media only screen and (min-width: 850px) {
      flex-direction: row;

      & > *:first-child {
        width: 60%;
      }
      & > *:last-child {
        width: 40%;
      }
    }
  }

}
