
$clr-primary: hsl(0, 0%, 97%);
$clr-secondary-100: hsl(237, 57%, 31%);
$clr-secondary-200: hsl(237, 57%, 22%);
$clr-light: hsl(0, 0%, 100%);
$clr-faded: hsl(195, 53%, 79%, 0.2);

$fc-primary: hsl(0, 0%, 26%);
$fc-secondary: hsl(0, 0%, 94%);