
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


.anunciante {
    --a-layout-mobile:  "header"
                        "img-site"
                        "contact"
                        "social"
                        "description"
                        "address";

    --a-layout-desktop: "header ."
                        "img-site contact"
                        "img-site social"
                        "description address";

    position: relative;
    margin-bottom: 3.25rem;
    padding-bottom: 3.25rem;
    border-bottom: 2px solid lightgrey;
    
    &__wrapper {
        display: grid;
        gap: 2rem;
        grid-template-areas: var(--a-layout-mobile);
        
        @media only screen and (min-width: 700px) {
            grid-template-areas: var(--a-layout-desktop);
            grid-template-columns: 1fr 230px;
            gap: 1.75rem;
        }
    }

    &__header {
        grid-area: header;
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: -0.5rem;

        h1 {
            margin: 0;
        }

        img {
            width: 15px;
        }

        #share-btn {
            background-color: transparent;
            border: 0;
            margin-left: auto;
            padding-left: 0.5rem;
            font-size: 1.465rem;
            color: c.$clr-secondary-200;
            transition: 250ms ease-in-out;

            &:hover {
                transform: rotate(10deg);
            }
        }
    }

    &__img-site { 
        grid-area: img-site; 
        word-break: break-word;
    }

    &__contact {
        grid-area: contact;
        align-self: end;
        word-break: break-all;
    }

    &__social {
        grid-area: social;
        align-self: center;

        @media only screen and (max-width: 700px) {
            display: grid;
            place-items: center;
            text-align: center;

            h2 {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__social-wrapper {
        display: flex;
        gap: 1rem;
        width: 100%;
        max-width: 280px;

        & > * {
            width: 52px;
        }

        @media only screen and (max-width: 700px) {
            justify-content: center;
            margin: 0 auto;
        }
    }

    &__address { grid-area: address; }

    &__address-wrapper { 
        display: flex;
        gap: 0.25rem;
    }

    &__description { grid-area: description; }
}

.share {
    position: relative;
    font-size: 0.9rem;

    button {
        background-color: transparent;
        border: 0;
        color: currentColor;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5rem;
    }

    &__item {
        text-align: center;

        & > * {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
    
            i {
                font-size: 1.75rem;
                color: c.$clr-secondary-100;
            }
        }
    }

    .message {
        position: absolute;
    }

}