
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


body {
  background-color: c.$clr-faded;
} 

.hero {
  display: grid;
  place-items: center;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;

  @media only screen and (min-width: 660px) {
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
  }
}

.logo {
  width: 400px;

  @media only screen and (max-width: 500px) {
    width: 300px;
  }
}