
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


body {
  background-color: c.$clr-faded;
} 

.hero {
  display: grid;
  place-items: center;
  padding: 2.5rem 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.logo {
  width: 400px;
  margin-bottom: 1rem;

  @media only screen and (max-width: 500px) {
    width: 300px;
  }
}