
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.planos {
  display: grid;
  place-items: center;
  min-height: 80vh;
  padding: 3rem 0;
  margin: calc(0.5rem + 0.5vw) auto;
  background-image: linear-gradient(c.$clr-faded, c.$clr-faded);
  background-size: 100% 200px;
  background-position: center;
  background-repeat: no-repeat;
}