
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/radius" as r;


.sobre {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1 {
        margin-left: auto;
        margin-right: auto;
    }

    &__box {
        max-width: 650px;
        margin: 0 auto;
        padding: 3rem 1.5rem;
        border-radius: r.$radius-2;
        
        @media only screen and (min-width: 650px) {
            background-color: c.$clr-light;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);     
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    
    img {
        position: absolute;
        max-width: 1000px;
        top: 0;
        left: -40%;
        transform: rotate(20deg);
        opacity: 0.1;
        
        @media only screen and (min-width: 650px) {
            opacity: 0.4;
            z-index: -1;    
            left: 0;
        }
    }
}
