
.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: grid;
  place-items: center;
  z-index: 996;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 1.25rem;
  background-color: #2F41AB;
  color: white;
  box-shadow: 0 0 3px black;
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
  
  &.active {
    opacity: 1;
    pointer-events: all;
    color: white;
  }
}
