
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.btn {
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
  background-color: c.$clr-secondary-200;
  color: c.$fc-secondary;
  text-align: center;
  outline: none;

  &:hover {
    color: c.$fc-secondary;
    background-color: c.$clr-secondary-200;
  }

  &--secondary {
    border: 1px solid c.$fc-secondary;
    border-radius: 5px;
    transition: background-color 100ms ease-in,
                color 100ms ease-in;

    &:hover,
    &:focus {
      background-color: c.$clr-primary;
      color: c.$fc-primary;
    }
  }
}
  

