
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  transition: 100ms ease-in;
  font-size: inherit;
  
  &--dark {   
    @extend .btn;
    background-color: c.$clr-secondary-100;
    color: c.$fc-secondary;

    &:hover,
    &:focus {
      color: c.$fc-secondary;
      background-color: c.$clr-secondary-200;
    }
  }

  &--outline-dark {   
    @extend .btn;
    background-color: transparent;
    color: c.$fc-primary;
    box-shadow: 0 0 0 1px c.$clr-secondary-100;

    &:hover,
    &:focus {
      color: c.$fc-secondary;
      background-color: c.$clr-secondary-100;
    }
  }

  &--light {
    @extend .btn;
    background-color: c.$clr-primary;
    color: c.$fc-primary;
  
    &:hover,
    &:focus {
      background-color: darken(c.$clr-primary, 13%);
      color: lighten(c.$fc-primary, 5%);
    }
  }

  &--outline-light {
    @extend .btn;
    background-color: transparent;
    color: c.$fc-secondary;
    box-shadow: 0 0 0 1px c.$clr-primary;

    &:hover,
    &:focus {
      background-color: c.$clr-primary;
      color: c.$fc-primary;
    }
  }

  &--sm {
    @extend .btn;
    padding: 0.5em;
    font-size: 0.85rem;
  }

  &--block {
    width: 100%;
    padding: 0.75em;
  }
}


  

