
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.btn {
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  outline: none;
  transition: 100ms ease-in;
  
  &--dark {   
    @extend .btn;
    background-color: c.$clr-secondary-200;
    color: c.$fc-secondary;

    &:hover,
    &:focus {
      color: c.$fc-secondary;
      background-color: c.$clr-secondary-100;
    }
  }


  &--light {
    @extend .btn;
    background-color: c.$clr-primary;
    color: c.$fc-primary;
  
    &:hover,
    &:focus {
      color: c.$fc-secondary;
      background-color: c.$clr-secondary-200;
      box-shadow: 0 0 0 1px c.$fc-primary;
    }
  }

  &--outline-light {
    @extend .btn;
    background-color: transparent;
    color: c.$fc-secondary;
    box-shadow: 0 0 0 1px c.$clr-primary;

    &:hover,
    &:focus {
      background-color: c.$clr-primary;
      color: c.$fc-primary;
    }
  }
}


  

