
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/radius" as r;


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;

    .card {
        display: grid;
        gap: 1.5rem;
        background-color: c.$clr-primary;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
        border-radius: r.$radius-2;
        padding: 2rem;
        width: min(320px, 100%);
        transition: 150ms ease-in;

        @media (hover: hover) {
            &:hover {
                box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
                transform: scale(102%);
            } 
        }

        &--gratuito {
            @extend .card;
            --card-color: hsl(237, 57%, 31%);
            order: 1;
        }

        &--medio {
            @extend .card;
            --card-color: hsl(120, 50%, 53%);
            order: 3;
        }

        &--destaque {
            @extend .card;
            --card-color: hsl(35, 69%, 58%);
            order: 3;
            
            @media only screen and (min-width: 1027px) {
                order: 2;
                transform: scale(105%);
                
                &:hover {
                    transform: scale(108%);
                }
            }
        }

        &__price {
            position: relative;
            max-width: max-content;
            margin-left: auto;
            margin-right: auto;
            transform: translateX(10%);
            color: var(--card-color);

            .currency {
                position: absolute;
                top: 20%;
                left: -25%;
            }

            .real {
                font-size: 3rem;
            }

            .cents {
                font-size: 1rem;
            }
        }

        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.85rem;
        }

        &__list-item {
            display: flex;
            gap: 1.15rem;

            &.positive {
                i {
                    color: hsl(204, 56%, 47%);
                }
            }

            &.negative {
                i {
                    color: hsl(0, 82%, 70%);
                }
            }

            span {
                flex-grow: 1;
                font-size: 0.9rem;
            }
        }

        .btn-purchase {
            display: grid;
            place-items: center;
            background-color: var(--card-color);
            color: c.$fc-secondary;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            transition: 100ms ease-in;
            width: 100%;

            &:hover {
                transform: scale(102%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }
        }
    }
}