
@use "../abstracts/radius" as r;


.destaques {

  &__grid {
    display: grid;
    place-items: center;
    gap: 1rem;
  
    @media all and (min-width: 650px) {
         grid-template-columns: 1fr 1fr;
    }
  }

  &__grid-item {
    position: relative;
    border-radius: r.$radius-1;
  }
}

  
  