
.destaques {

  &__grid {
    display: grid;
    place-items: center;
    gap: 1rem;
  
    @media all and (min-width: 650px) {
         grid-template-columns: 1fr 1fr;
    }
  }

  &__grid-item {
    position: relative;
    border-radius: 5px;
  }

  &__img {
    border-radius: 5px;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    -webkit-user-drag: none; 
  }
}

  
  