
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/radius" as r;

.footer {
  margin-top: auto;
  background-color: c.$clr-secondary-200;
  color: c.$fc-secondary;
  font-size: 0.925rem;
  

  // --------------------
  // WRAPPER
  // --------------------
  &__wrapper {
    display: grid;
    gap: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
    @media only screen and (min-width: 550px) and (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      justify-items: center;
    }
    
    @media only screen and (min-width: 1000px) {
      grid-template-columns: auto 1fr 1fr;
      justify-content: center;
    }
  }
  
  
  // --------------------
  // LOGO AND LIST
  // --------------------

  &__logo {
    width: 200px;
  }

  &__nav-list {
    list-style: none;
    display: grid;    
    gap: 0.25rem;
    margin-top: 1rem;
  }

  
  // --------------------
  // INFO SECTION
  // --------------------

  &__infos {
    display: grid;
    gap: 1rem;
    align-items: center;

    @media only screen and (min-width: 1000px) {
      justify-content: center;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    word-break: break-all;

    svg {
      width: 25px;
      height: 25px;
      fill: currentColor;
    }
  }

  
  // --------------------
  // SOCIAL
  // --------------------

  &__social {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-self: center;
    gap: 2rem;
  }

  &__social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: r.$radius-circle;
    width: 40px;
    height: 40px;
    background-color: c.$clr-primary;
    transition: 100ms ease-in;
    
    svg {
      width: 25px;
      height: 25px;
      transition: 50ms ease-in;
      fill: c.$clr-secondary-200;
    }

    &:hover,
    a:focus > & {
      background-color: transparent;

      svg {
        fill: currentColor;
      }
    }
    
  }
  

  // --------------------
  // CONTACT FORM
  // --------------------

  &__contact {
    @media only screen and (min-width: 550px) and (max-width: 1000px) {
      grid-column: span 2;
      width: 80%;
    }
  }
  
  &__form {
    display: grid;
    gap: 0.5rem;
    
    input, 
    textarea {
      padding: 0.25em 0.5em;
      font-size: 0.9rem;
      border-radius: r.$radius-1;
      border: 0;
    }
    
    textarea {
      min-height: 80px;
      resize: none;
    }
  }
}


// --------------------
// COPYRIGHT
// --------------------

.copyright {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.75rem;
  border-top: 1px solid hsl(0, 0%, 77%);
  color: hsl(0, 0%, 77%);
}
