
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.25rem;
    background-color: c.$clr-light;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &__cols {
        display: flex;
        gap: 1rem;

        @media only screen and (max-width: 800px) {
            flex-direction: column;
            gap: 2rem;
        }

        * {
            flex: 1;
            width: 100%;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__label {
        color: c.$clr-secondary-100;
        font-weight: 500;
    }
    
    &__input {
        outline: none;
        border: 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        padding: 0.25em 0.5em;
        font-size: 0.95rem;
        background-color: c.$clr-light;
        transition: 100ms ease-in;
        
        &:focus {
            box-shadow: 0 0 0 4px hsl(195, 53%, 75%, 0.7),
                        0 0 0 1px hsl(195, 53%, 55%);
        }
    }

    &__submit {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 0.75rem;
    }

    textarea {
        resize: vertical;
        min-height: 150px;
    }
}
