
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: c.$clr-secondary-200;
  color: c.$fc-secondary;
  box-shadow: 1px 1px 1px c.$clr-secondary-100;
  font-size: 0.9rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 10;

  & ~ * {
    margin-top: 4rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
    padding: 0.75rem 0;
    gap: 1rem;
    max-width: 1200px;

    @media all and (max-width: 455px) {
      padding: 0.5rem 0;
    }


    // --------------------
    // NAV HEADER
    // --------------------

    &__section {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    .menu-toggler {
      display: none;

      @media all and (max-width: 800px) {
        display: inline-block;
      }

      i {
        display: block !important;
        min-width: 100% !important;
        min-height: 100% !important;
        font-size: 1.5rem;
      }
    }

    &__brand {
      width: 25px;
      margin-bottom: -0.5rem;
    }


    // --------------------
    // NAV LIST
    // --------------------

    &__list {
      display: flex;
      align-items: center;
      margin: 0;
      margin-left: 1rem;
      column-gap: 2rem;
      row-gap: 1.5rem;
      list-style: none;

      @media all and (max-width: 800px) {
        transform: translateX(-120%);
        visibility: hidden;
        position: absolute;
        margin-left: 0;
        top: 0;
        left: 0;
        width: 250px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 6rem 2rem 5rem;
        background-color: rgb(0, 0, 36);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 15;
        transition: all 250ms ease-in;

        &.active {
          transform: translateX(0);
          visibility: visible;

          & ~ .nav__backdrop {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
          }
        }
      }
    }
    
    &__backdrop {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      display: block;
      position: fixed;
      inset: 0;
      width: 100vw;
      min-height: 100vh;
      z-index: 9;
      background-color: rgba(0, 0, 0, 0.5);
      transition: 250ms ease-in;
      overflow: hidden;
    }

    &__item {
      position: relative;

      &.mobile-only {
        display: flex;
        gap: 0.75rem;

        @media all and (min-width: 800px) {
          display: none;
        }
      }
    }
    
    &__link {
      position: relative;
      outline: none;
      text-transform: capitalize;
      font-size: 1rem;

      @media all and (max-width: 800px) {
        font-size: 0.9rem;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: c.$fc-secondary;
        transform: scaleX(0);
        transition: transform 150ms ease-in;
      }

      &:hover::before,
      &:focus-within::before,
      &.active::before {
        transform: scaleX(1);
      }
    }

    &__close-btn {
      display: none;
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      cursor: pointer;

      @media all and (max-width: 800px) {
        display: inline-block;
      }
    }


    // --------------------
    // NAV BUTTONS E ICONS
    // --------------------


    .desktop-only {
      @media all and (max-width: 800px) {
        display: none;;
      }
    }

    &__icon {
      background-color: transparent;
      border: 0;
      color: c.$fc-secondary;
      outline: none;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 100ms ease-in;

      &:hover,
      &:focus {
        color: rgb(205, 205, 205);
      }
    }


    // --------------------
    // NAV SEARCH
    // --------------------

    &__search-form {
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      background-color: c.$clr-primary;
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
      transition: all 150ms ease-in;

      &.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
      
      button[type="submit"] {
        color: c.$clr-secondary-200;
      }

      #open-nav-search-btn {
        font-size: 10rem;
        color: red;
      }

      #close-nav-search-btn {
        color: c.$fc-primary;
        font-size: 1rem;
      }
    }
    
    &__search-wrapper {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &__search-bar {
      width: 100%;
      padding: 0.25em 0.25em 0.2em 0;
      border: 0;
      font-size: 1rem;
      background-color: c.$clr-primary;
      border-bottom: 1px solid hsl(0, 0%, 70%);
      outline: none;
    }
  }
}
