
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


header {
  display: grid;
  place-items: center;
  width: 100%;
  margin-bottom: 1rem;
  background-color: c.$clr-secondary-200;
  color: c.$fc-secondary;
  box-shadow: 1px 1px 1px c.$clr-secondary-100;
  font-size: 0.9rem;

  .nav {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    gap: 1rem;
    max-width: 1200px;

    @media all and (max-width: 455px) {
      padding: 0.5rem 0;
    }

    &__header {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__brand {
      width: 25px;
      margin-bottom: -0.5rem;
    }



    &__list {
      display: flex;
      align-items: center;
      margin: 0;
      column-gap: 2rem;
      row-gap: 1.5rem;
      list-style: none;

      @media all and (max-width: 700px) {
        transform: translateX(-120%);
        position: fixed;
        top: 0;
        left: 0;
        width: 55vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 6rem 2rem 5rem;
        background-color: rgb(0, 0, 36);
        box-shadow: 2px 0 5px black;
        z-index: 10;
        transition: transform 250ms ease-in;

        &.active {
          transform: translateX(0);

          & ~ .nav__backdrop {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
    
    &__backdrop {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      inset: 0;
      width: 100vw;
      min-height: 100vh;
      z-index: 9;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 250ms ease-in;
    }

    &__item {
      position: relative;
    }
    
    &__link {
      outline: none;
      text-transform: uppercase;
      font-size: 1rem;

      @media all and (max-width: 700px) {
        font-size: 0.9rem;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: c.$fc-secondary;
        transform: scaleX(0);
        transition: transform 150ms ease-in;
      }

      &:hover::before,
      &:focus-within::before,
      &.active::before {
        transform: scaleX(1);
      }
    }

    &__close-btn {
      display: none;
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      cursor: pointer;

      @media all and (max-width: 700px) {
        display: inline-block;
      }
    }




    &__btns {
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }

    &__icon {
      background-color: transparent;
      border: 0;
      color: c.$fc-secondary;
      outline: none;
      cursor: pointer;
      transition: color 100ms ease-in;
      font-size: 1.5rem;

      &:hover,
      &:focus {
        color: rgb(205, 205, 205);
      }
    }

    &__search-wrapper {
      position: relative;
    }
    
    &__search {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      padding: 0.5rem 0.5rem;
      background-color: c.$clr-primary;
      border: 0;
      border-radius: 1px;
      box-shadow: 1px 1px 5px white;
      transition: 200ms ease-in;
    }

    #search_btn:focus ~ &__search,
    &__search:focus {
      opacity: 1;
      pointer-events: all;
      transform: translateX(-120%);
      outline: none;

      @media all and (max-width: 330px) {
        transform: translateX(-95%);
      }
    }

    .menu-toggler {
      display: none;

      @media all and (max-width: 700px) {
        display: inline-block;
      }

      i {
        display: block !important;
        min-width: 100% !important;
        min-height: 100% !important;
        font-size: 1.5rem;
      }
    }
  }
}
