
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/radius" as r;


.modal {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    min-width: 100%;
    min-height: calc(100vh + 5rem);
    z-index: 11;
    display: grid;
    place-items: center;
    padding: 10rem 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    transition: 250ms ease-in-out;
    
    &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }

    &.active &__content {
        transform: translateY(-100px);
    }
    
    &__content {        
        position: relative;
        background-color: c.$clr-light;
        width: min(600px, calc(100% - 2rem));
        min-height: 200px;
        border-radius: r.$radius-2;
        padding: 2rem;
        padding-bottom: 1rem;
        transform: translateY(-130px);
        transition: 250ms ease-in-out;
    }
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25rem 0.75rem;
        border-bottom-left-radius: r.$radius-2;
        background-color: c.$clr-secondary-200;
        color: c.$fc-secondary;
        font-size: 1.25rem;
        border: 0;
    }
    
    &__body {
        margin-bottom: 1rem;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }
}
