
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/radius" as r;


.slider {
  position: relative;
}

.scroller {
  $scrollbar-color: rgb(180, 180, 180);
  
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  gap: 0.75rem;
  padding-bottom: 0.25rem;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;

  @media only screen and (max-width: 1000px) {
    grid-auto-columns: 29%;
  }
    
  @media only screen and (max-width: 700px) {
    grid-auto-columns: 36%; 
  }

  @media only screen and (max-width: 550px) {
    grid-auto-columns: 72%;
    padding-inline: 0;
  }

  &__item {
    position: relative;
    scroll-snap-align: start;
    border-radius: r.$radius-1;

    @media only screen and (max-width: 550px) {
      scroll-snap-align: center; 
    }
  }
  
  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    width: 29px;
    height: 29px;
    opacity: 0.8;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    transition: 200ms ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-color transparent;
  }

  &::-webkit-scrollbar { height: 7px; }

  &::-webkit-scrollbar-track { background: transparent; }

  &::-webkit-scrollbar-thumb {
    border-radius: r.$radius-2;
    background-color: $scrollbar-color;
  }

  &--sm {
    @extend .scroller;
    grid-auto-columns: 9%;
    padding-bottom: 1rem;

    @media only screen and (max-width: 1000px) {
      grid-auto-columns: 12%;
    }
      
    @media only screen and (max-width: 730px) {
      grid-auto-columns: 16%; 
    }
      
    @media only screen and (max-width: 630px) {
      grid-auto-columns: 24%; 
    }
  }
}

.scroller__btn {
  position: absolute;
  top: 40%;
  z-index: 6;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  background-color: rgb(128, 128, 128);
  opacity: 0.8;
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: r.$radius-circle;
  transition: 150ms;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &--left {
    @extend .scroller__btn;
    left: -15px;
  }

  &--right {
    @extend .scroller__btn;
    right: -15px;
  }
}
