
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;


.slider {
  position: relative;
}

.scroller {
  $scrollbar-color: rgb(180, 180, 180);
  
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  gap: 0.75rem;
  padding-bottom: 0.25rem;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;

  @media only screen and (max-width: 1000px) {
    grid-auto-columns: 29%;
  }
    
  @media only screen and (max-width: 700px) {
    grid-auto-columns: 36%; 
  }

  @media only screen and (max-width: 550px) {
    grid-auto-columns: 72%;
    padding-inline: 0;
  }

  &__item {
    scroll-snap-align: start;
    border-radius: 5px;
    
    @media only screen and (max-width: 550px) {
      scroll-snap-align: center; 
    }
  }

  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-color transparent;
  }

  &::-webkit-scrollbar { height: 7px; }

  &::-webkit-scrollbar-track { background: transparent; }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $scrollbar-color;
  }

  &__img {
    border-radius: 5px;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    -webkit-user-drag: none; 
  }

  &--sm {
    @extend .scroller;
    grid-auto-columns: 9%;
    padding-bottom: 1rem;

    @media only screen and (max-width: 1000px) {
      grid-auto-columns: 12%;
    }
      
    @media only screen and (max-width: 730px) {
      grid-auto-columns: 16%; 
    }
      
    @media only screen and (max-width: 630px) {
      grid-auto-columns: 24%; 
    }

    .scroller__img-container {
      background-color: c.$clr-secondary-100;
      display: grid;
      place-items: center;
      padding: 1.25rem;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.scroller__btn {
  position: absolute;
  top: 40%;
  z-index: 6;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  background-color: rgba(128 128 128 / 0.7);
  color: rgba(255 255 255 / 0.8);
  border: 0;

  &.left {
    left: -15px;
  }

  &.right {
    right: -15px;
  }
}
