
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/radius" as r;

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 1rem;

  &__wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 800px;
  }
  
  
  &__form {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    & > *:first-child {
      width: 30%;
    }
  }
  
  
  &__bar {
    position: relative;
    display: block;
    flex: 2;
    padding: 0.925rem;
    font-size: 1rem;
    border: 0;
    outline: 0;
    background-color: c.$clr-light;
    color: rgb(82, 82, 82);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: r.$radius-2;
  }
  
  &__btn {
    position: relative;
    padding: 0.925rem;
    font-size: 1rem;
    border: 0;
    transition: 100ms ease-in;

    i {
      position: absolute;
      transform: scale(2) rotate(0) translateX(100%);
      opacity: 0.2;
      transition: 150ms ease-in;
    }

    &:hover i,
    &:focus i {
      transform: scale(2.4) rotate(-10deg) translateX(-100%);
      opacity: 0.4;
    }
  }
}





  