
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 1rem;

  &__wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 800px;
  }
  
  
  &__form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media all and (max-width: 650px) {
      flex-direction: column;
    }
  }
  
  &__bar {
    position: relative;
    display: block;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem;
    font-size: 0.925rem;
    border: 0;
    outline: 0;
    border-radius: 8px;
    color: rgb(82, 82, 82);
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  .btn {
    padding: 1rem;
    font-size: 0.925rem;
    box-shadow: 3px 3px 13px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-top: 1rem;
    z-index: 3;
    
    @media all and (min-width: 650px) {
      margin-top: 0;
      margin-left: -1rem;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    @media all and (max-width: 650px) {
      width: 100%;
    }
  }
}





  