@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0deg, 0%, 97%);
  color: hsl(0deg, 0%, 36%);
}
body.mobile-nav-active {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  margin-bottom: 0.5rem;
}
p:last-child {
  margin-bottom: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
input {
  font-family: "Poppins", sans-serif;
}

button,
input[type=submit],
input[type=reset] {
  cursor: pointer;
}

textarea,
select {
  font-family: inherit;
}

input[type=file] {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  background-color: hsl(0deg, 0%, 83%);
  border: 1px none;
  cursor: pointer;
}

::file-selector-button {
  font: inherit;
  background-color: hsl(0deg, 0%, 83%);
  border: 1px none;
  cursor: pointer;
}

::-moz-placeholder {
  color: hsl(0deg, 0%, 75%);
  opacity: 0.9;
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: hsl(0deg, 0%, 75%);
  opacity: 0.9;
  font-style: italic;
  font-weight: 400;
}

::placeholder {
  color: hsl(0deg, 0%, 75%);
  opacity: 0.9;
  font-style: italic;
  font-weight: 400;
}

::-moz-selection {
  background-color: hsl(237deg, 67%, 41%);
  color: whitesmoke;
}

::selection {
  background-color: hsl(237deg, 67%, 41%);
  color: whitesmoke;
}

section {
  padding: 0;
}
section:not(.hero) {
  padding-bottom: 6rem;
}
@media all and (max-width: 750px) {
  section:not(.hero) {
    padding-bottom: 4rem;
  }
}

.container, .container--sm {
  width: calc(100% - 2rem);
  margin: 0 auto;
  max-width: 1200px;
}
.container--sm {
  max-width: 900px;
}

.section-title {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: hsl(240deg, 97%, 20%);
  margin-bottom: 2rem;
}

.subtitle {
  font-size: clamp(1rem, 3vw, 1.15rem);
  margin-bottom: 2.5rem;
  font-weight: 300;
  color: hsl(0deg, 0%, 50%);
}

.link-wrapper {
  display: block;
}

.full-size {
  min-height: 90vh;
  padding: 3rem 0;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 50%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: hsl(237deg, 57%, 22%);
  color: hsl(0deg, 0%, 94%);
  box-shadow: 1px 1px 1px hsl(237deg, 57%, 31%);
  font-size: 0.9rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
header ~ * {
  margin-top: 4rem;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2rem);
  padding: 0.75rem 0;
  gap: 1rem;
  max-width: 1200px;
}
@media all and (max-width: 455px) {
  header .nav {
    padding: 0.5rem 0;
  }
}
header .nav__section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .nav .menu-toggler {
  display: none;
}
@media all and (max-width: 800px) {
  header .nav .menu-toggler {
    display: inline-block;
  }
}
header .nav .menu-toggler i {
  display: block !important;
  min-width: 100% !important;
  min-height: 100% !important;
  font-size: 1.5rem;
}
header .nav__brand {
  width: 25px;
  margin-bottom: -0.5rem;
}
header .nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 1rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1.5rem;
  list-style: none;
}
@media all and (max-width: 800px) {
  header .nav__list {
    transform: translateX(-120%);
    visibility: hidden;
    position: absolute;
    margin-left: 0;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem 2rem 5rem;
    background-color: rgb(0, 0, 36);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 15;
    transition: all 250ms ease-in;
  }
  header .nav__list.active {
    transform: translateX(0);
    visibility: visible;
  }
  header .nav__list.active ~ .nav__backdrop {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
header .nav__backdrop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: block;
  position: fixed;
  inset: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 250ms ease-in;
  overflow: hidden;
}
header .nav__item {
  position: relative;
}
header .nav__item.mobile-only {
  display: flex;
  gap: 0.75rem;
}
@media all and (min-width: 800px) {
  header .nav__item.mobile-only {
    display: none;
  }
}
header .nav__link {
  position: relative;
  outline: none;
  text-transform: capitalize;
  font-size: 1rem;
}
@media all and (max-width: 800px) {
  header .nav__link {
    font-size: 0.9rem;
  }
}
header .nav__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(0deg, 0%, 94%);
  transform: scaleX(0);
  transition: transform 150ms ease-in;
}
header .nav__link:hover::before, header .nav__link:focus-within::before, header .nav__link.active::before {
  transform: scaleX(1);
}
header .nav__close-btn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}
@media all and (max-width: 800px) {
  header .nav__close-btn {
    display: inline-block;
  }
}
header .nav #open-nav-search-btn {
  transform: scale(1.1);
  margin-right: 0.25rem;
}
@media all and (max-width: 800px) {
  header .nav .desktop-only {
    display: none;
  }
}
header .nav__icon {
  background-color: transparent;
  border: 0;
  color: hsl(0deg, 0%, 94%);
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 100ms ease-in;
}
header .nav__icon:hover, header .nav__icon:focus {
  color: rgb(205, 205, 205);
}
header .nav__search-form {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: hsl(0deg, 0%, 97%);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 150ms ease-in;
}
header .nav__search-form.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
header .nav__search-form button[type=submit] {
  color: hsl(237deg, 57%, 22%);
}
header .nav__search-form #close-nav-search-btn {
  color: hsl(0deg, 0%, 36%);
  font-size: 1rem;
}
header .nav__search-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .nav__search-bar {
  width: 100%;
  padding: 0.25em 0.25em 0.2em 0;
  border: 0;
  font-size: 1rem;
  background-color: hsl(0deg, 0%, 97%);
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  outline: none;
}

.btn, .btn--sm, .btn--outline-light, .btn--light, .btn--outline-dark, .btn--dark {
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  outline: none;
  transition: 100ms ease-in;
  font-size: inherit;
}
.btn--dark {
  background-color: hsl(237deg, 57%, 22%);
  color: hsl(0deg, 0%, 94%);
}
.btn--dark:hover, .btn--dark:focus {
  color: hsl(0deg, 0%, 94%);
  background-color: hsl(237deg, 57%, 31%);
}
.btn--outline-dark {
  background-color: transparent;
  color: hsl(0deg, 0%, 36%);
  box-shadow: 0 0 0 1px hsl(237deg, 57%, 31%);
}
.btn--outline-dark:hover, .btn--outline-dark:focus {
  color: hsl(0deg, 0%, 94%);
  background-color: hsl(237deg, 57%, 31%);
}
.btn--light {
  background-color: hsl(0deg, 0%, 97%);
  color: hsl(0deg, 0%, 36%);
}
.btn--light:hover, .btn--light:focus {
  color: hsl(0deg, 0%, 94%);
  background-color: hsl(237deg, 57%, 22%);
  box-shadow: 0 0 0 1px hsl(0deg, 0%, 36%);
}
.btn--outline-light {
  background-color: transparent;
  color: hsl(0deg, 0%, 94%);
  box-shadow: 0 0 0 1px hsl(0deg, 0%, 97%);
}
.btn--outline-light:hover, .btn--outline-light:focus {
  background-color: hsl(0deg, 0%, 97%);
  color: hsl(0deg, 0%, 36%);
}
.btn--sm {
  padding: 0.5em;
  font-size: 0.85rem;
}
.btn--block {
  width: 100%;
  padding: 0.75em;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 1rem;
}
.search__wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 800px;
}
.search__form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 650px) {
  .search__form {
    flex-direction: column;
  }
}
.search__bar {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  font-size: 0.925rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
  color: rgb(82, 82, 82);
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}
.search__btn {
  padding: 1rem;
  font-size: 0.925rem;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 1rem;
  z-index: 3;
}
@media all and (min-width: 650px) {
  .search__btn {
    margin-top: 0;
    margin-left: -1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
@media all and (max-width: 650px) {
  .search__btn {
    width: 100%;
  }
}

.footer {
  margin-top: auto;
  background-color: hsl(237deg, 57%, 22%);
  color: hsl(0deg, 0%, 94%);
  font-size: 0.9rem;
}
.footer__wrapper {
  display: grid;
  gap: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 470px) and (max-width: 800px) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}
@media only screen and (min-width: 800px) {
  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__logo {
  width: 150px;
}
.footer__nav-list {
  list-style: none;
  display: grid;
  gap: 0.25rem;
  margin-top: 1rem;
}
.footer__link {
  font-size: 0.85rem;
  text-decoration: underline;
}
.footer__btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__btns div:first-of-type {
  margin-bottom: 0.75rem;
}
.footer__btns p {
  margin-bottom: 0.75rem;
}
.footer__contato {
  width: min(400px, 100%);
}
@media only screen and (min-width: 470px) and (max-width: 800px) {
  .footer__contato {
    grid-column: span 2;
    justify-self: center;
  }
}
.footer__form {
  display: grid;
  gap: 0.5rem;
}
.footer__form input,
.footer__form textarea {
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
  border-radius: 3px;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}
.footer__form textarea {
  min-height: 80px;
  resize: none;
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  border-top: 1px solid hsl(0deg, 0%, 77%);
  color: hsl(0deg, 0%, 77%);
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: grid;
  place-items: center;
  z-index: 996;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 1.25rem;
  background-color: #2F41AB;
  color: white;
  box-shadow: 0 0 3px black;
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}
.back-to-top.active {
  opacity: 1;
  pointer-events: all;
  color: white;
}

.destaques__grid {
  display: grid;
  place-items: center;
  gap: 1rem;
}
@media all and (min-width: 650px) {
  .destaques__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.destaques__grid-item {
  position: relative;
  border-radius: 5px;
}
.destaques__img {
  border-radius: 5px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.slider {
  position: relative;
}

.scroller, .scroller--sm {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  gap: 0.75rem;
  padding-bottom: 0.25rem;
  overflow: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
}
@media only screen and (max-width: 1000px) {
  .scroller, .scroller--sm {
    grid-auto-columns: 29%;
  }
}
@media only screen and (max-width: 700px) {
  .scroller, .scroller--sm {
    grid-auto-columns: 36%;
  }
}
@media only screen and (max-width: 550px) {
  .scroller, .scroller--sm {
    grid-auto-columns: 72%;
    padding-inline: 0;
  }
}
.scroller__item {
  scroll-snap-align: start;
  border-radius: 5px;
}
@media only screen and (max-width: 550px) {
  .scroller__item {
    scroll-snap-align: center;
  }
}
@supports (scrollbar-width: thin) {
  .scroller, .scroller--sm {
    scrollbar-width: thin;
    scrollbar-color: rgb(180, 180, 180) transparent;
  }
}
.scroller::-webkit-scrollbar, .scroller--sm::-webkit-scrollbar {
  height: 7px;
}
.scroller::-webkit-scrollbar-track, .scroller--sm::-webkit-scrollbar-track {
  background: transparent;
}
.scroller::-webkit-scrollbar-thumb, .scroller--sm::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(180, 180, 180);
}
.scroller__img {
  border-radius: 5px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.scroller--sm {
  grid-auto-columns: 9%;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 1000px) {
  .scroller--sm {
    grid-auto-columns: 12%;
  }
}
@media only screen and (max-width: 730px) {
  .scroller--sm {
    grid-auto-columns: 16%;
  }
}
@media only screen and (max-width: 630px) {
  .scroller--sm {
    grid-auto-columns: 24%;
  }
}
.scroller--sm .scroller__img-container {
  background-color: hsl(237deg, 57%, 31%);
  display: grid;
  place-items: center;
  padding: 1.25rem;
}
.scroller--sm .scroller__img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.scroller__btn {
  position: absolute;
  top: 40%;
  z-index: 6;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  background-color: rgba(128, 128, 128, 0.7);
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}
.scroller__btn.left {
  left: -15px;
}
.scroller__btn.right {
  right: -15px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 4rem;
}
.cards-container .card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(0deg, 0%, 97%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2rem;
  width: min(300px, 100%);
  transition: 150ms ease-in;
}
@media (hover: hover) {
  .cards-container .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transform: scale(102%);
  }
}
.cards-container .card.gratuito {
  --card-color: hsl(237, 57%, 31%);
  order: 1;
}
.cards-container .card.medio {
  --card-color: hsl(120, 50%, 53%);
  order: 3;
}
.cards-container .card.destaque {
  --card-color: hsl(35, 69%, 58%);
  order: 3;
}
@media only screen and (min-width: 1027px) {
  .cards-container .card.destaque {
    order: 2;
    transform: scale(105%);
  }
  .cards-container .card.destaque:hover {
    transform: scale(108%);
  }
}
.cards-container .card__title {
  text-align: center;
}
.cards-container .card__price {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  color: var(--card-color);
}
.cards-container .card__price .currency {
  position: absolute;
  top: 20%;
  left: -25%;
}
.cards-container .card__price .real {
  font-size: 3rem;
}
.cards-container .card__price .cents {
  font-size: 1rem;
}
.cards-container .card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.cards-container .card__list-item {
  display: flex;
  gap: 1rem;
}
.cards-container .card__list-item.positive i {
  color: hsl(204deg, 56%, 47%);
}
.cards-container .card__list-item.negative i {
  color: hsl(0deg, 82%, 70%);
}
.cards-container .card__list-item span {
  flex-grow: 1;
  font-size: 0.9rem;
}
.cards-container .card .btn-purchase {
  background-color: var(--card-color);
  color: hsl(0deg, 0%, 94%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: 100ms ease-in;
}
.cards-container .card .btn-purchase:hover {
  transform: scale(102%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1.25rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.form__cols {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 800px) {
  .form__cols {
    flex-direction: column;
    gap: 2rem;
  }
}
.form__cols * {
  flex: 1;
  width: 100%;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form__label {
  color: hsl(237deg, 57%, 31%);
  font-weight: 500;
}
.form__input {
  outline: none;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 0.25em 0.5em;
  font-size: 0.95rem;
  background-color: hsl(0deg, 0%, 100%);
  transition: 100ms ease-in;
}
.form__input:focus {
  box-shadow: 0 0 0 4px hsla(195deg, 53%, 75%, 0.7), 0 0 0 1px hsl(195deg, 53%, 55%);
}
.form__submit {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 0.75rem;
}
.form textarea {
  resize: vertical;
  min-height: 150px;
}

body {
  background-color: hsla(195deg, 53%, 79%, 0.2);
}

.hero {
  display: grid;
  place-items: center;
  min-height: calc(65vh - (3rem + 10vmin));
  padding: 2.5rem 0;
  margin-bottom: 2rem;
}

.logo {
  max-width: 450px;
  width: calc(100% - 1rem);
  margin-bottom: 1rem;
}

.sobre {
  position: relative;
  margin: calc(3rem + 2vw) auto;
  padding: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
@media only screen and (max-width: 460px) {
  .sobre {
    padding: 3rem 2rem;
  }
}

.planos {
  display: grid;
  place-items: center;
  background-image: linear-gradient(hsla(195deg, 53%, 79%, 0.2), hsla(195deg, 53%, 79%, 0.2));
  background-size: 100% 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  gap: 1.25rem;
  padding: 1.5rem;
  border-radius: 5px;
  width: min(350px, 100%);
}
.login__logo {
  width: 50px;
  margin-bottom: 1.5rem;
}
.login__group {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.login__group span {
  padding: 0.45em 0.75em;
  border-right: 2px solid lightgrey;
  color: hsl(237deg, 57%, 31%);
  font-size: 0.9rem;
}
.login__input {
  width: 100%;
  padding: 0.5em 0.75em;
  border: 0;
  outline: none;
  font-size: 0.9rem;
}
.login__input::-moz-placeholder {
  color: hsl(0deg, 0%, 63%);
}
.login__input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 63%);
}
.login__input::placeholder {
  color: hsl(0deg, 0%, 63%);
}/*# sourceMappingURL=main.css.map */