
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,500&display=swap');

:root {
  --bg-primary: rgb(247, 247, 247);
  /* #253FC2 */
  --bg-seccondary: #22267D;

  --fc-primary: rgb(0, 0, 0);
  --fc-secondary: rgb(239 239 239);

  --fs-primary: 'Poppins', sans-serif;
}


/* --------------------
  RESETS E ESTILOS GERAIS
-----------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--fs-primary);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.link-wrapper {
  display: block;

}

section {
  padding: 0 1.25rem;
}

img {
  max-width: 100%;
}

button,
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 3.5rem;
}

@media all and (max-width: 670px) {
  .wrapper {
    gap: 3rem;
  }
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 50%;
}



/* --------------------
  NAVBAR
  -----------------------*/
  
nav {
  position: relative;
  width: 100vw;
  display: grid;
  align-items: center;
  padding: 1.25rem 2rem;
  margin-bottom: 1rem;
  z-index: 999;
  background-color: var(--bg-seccondary);
  color: var(--fc-secondary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 1200px;
  box-shadow: 1px 1px 1px var(--bg-seccondary);
}

.nav__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-toggler {
  display: none;
}

.menu-toggler i {
  display: block !important;
  min-width: 100% !important;
  min-height: 100% !important;
  font-size: 2rem;
}

.logo a {
  color: whitesmoke;
  font-size: 1.5rem;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  column-gap: 2rem;
  row-gap: 1.5rem;
  list-style: none;
}

.nav__item {
  position: relative;
}


.nav__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--fc-secondary);
  transform: scaleX(0);
  transition: transform 150ms ease-in;
}

.nav__item:hover::before,
.nav__item:focus-within::before,
.nav__item.active::before {
  transform: scaleX(1);
}

.nav__link {
  outline: none;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.nav__close-btn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.925rem;
  cursor: pointer;
}

.nav__search-wrapper {
  position: relative;
}

.nav__btns {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav__btn {
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  border: 1px solid var(--fc-secondary);
  border-radius: 5px;
  outline: none;
  transition: background-color 100ms ease-in,
              color 100ms ease-in;
}

.nav__btn:hover,
.nav__btn:focus {
  background-color: var(--bg-primary);
  color: var(--fc-primary);
}

.nav__icon {
  background-color: transparent;
  border: 0;
  color: var(--fc-secondary);
  font-size: 1.75rem;
  outline: none;
  cursor: pointer;
  transition: color 100ms ease-in;
}

.nav__icon:hover,
.nav__icon:focus {
  color: rgb(177, 177, 177);
}

.nav__search {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding: 0.5rem 0.5rem;
  background-color: var(--bg-primary);
  border: 0;
  border-radius: 1px;
  box-shadow: 1px 1px 5px white;
  transition: 200ms ease-in;
}

.nav__icon#search_btn:focus ~ .nav__search,
.nav__search:focus {
  --translateX: -120%;

  opacity: 1;
  pointer-events: all;
  transform: translateX(var(--translateX));
  outline: none;
}

@media all and (max-width: 330px) {
  .nav__icon#search_btn:focus ~ .nav__search,
  .nav__search:focus {
    --translateX: -95%;
  }
}

@media all and (max-width: 980px) {
  .nav__list {
    transform: translateX(calc(-100% - 10px));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 6rem 10vw 5rem;
    background-color: rgb(0, 0, 36);
    box-shadow: 2px 0 5px black;
    font-size: 1.25rem;
    transition: transform 250ms ease-in;
  }

  .menu-toggler {
    display: block;
  }

  .nav__close-btn {
    display: block;
  }

  .nav__list.active {
    transform: translateX(0);
  }
}

@media all and (max-width: 455px) {
  nav {
    padding: 1.25rem 1rem;
  }

  .navbar {
    padding: 0;
  }
}



/* --------------------
    MAIN
-----------------------*/

.section__title {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
  font-weight: 600;
  color: rgb(1, 1, 71);
  margin-bottom: 1.5rem;
} 


/* ----- HERO ----- */

.hero {
  display: grid;
  place-items: center;
  min-height: 50vh;
  margin-bottom: 2rem;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem 0;
  text-align: center;
  gap: 1rem;
}

.search__wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 800px;
}

.logo {
  margin-bottom: 0.75rem;
}

.subtitle{
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: rgb(126, 125, 125);
}

.search__form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search_bar {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  outline: 0;
  border-radius: 3px;
  color: rgb(82, 82, 82);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 0.5em rgb(0, 0, 0, 0.4);
}

.search_bar::placeholder {
  color: rgb(116, 116, 116);
}

.btn {
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
  background-color: var(--bg-seccondary);
  color: var(--fc-secondary);
}

@media all and (max-width: 650px) {
  .hero {
    padding-inline: 1rem;
    margin-bottom: 3rem;
  }

  .search__form {
    flex-direction: column;
  }

  nav {
    margin-bottom: calc(2rem + 1vh);
  }

  .btn {
    width: 100%;
  }
}



/* --------------------
  FOOTER
-----------------------*/

footer {
  background-color: var(--bg-seccondary);
}



/* --------------------
  BOTÃO DE VOLTA AO TOPO
-----------------------*/

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: grid;
  place-items: center;
  z-index: 996;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 1.25rem;
  background-color: #2F41AB;
  color: white;
  box-shadow: 0 0 3px black;
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}

.back-to-top.active {
  opacity: 1;
  pointer-events: all;
  color: white;
}



/* *******************************************

Desenvolvido por Thiago Flavio Rosseti Brando 

                     :)

=========================================== */