@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0deg, 0%, 97%);
  color: hsl(0deg, 0%, 29%);
}
body.mobile-nav-opened, body.modal-opened {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  margin-bottom: 0.5rem;
}
p:last-child {
  margin-bottom: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

button,
input[type=submit],
input[type=reset] {
  cursor: pointer;
}

textarea,
select {
  font-family: inherit;
}

input[type=file] {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  background-color: hsl(0deg, 0%, 83%);
  border: 1px none;
  cursor: pointer;
}

::file-selector-button {
  font: inherit;
  background-color: hsl(0deg, 0%, 83%);
  border: 1px none;
  cursor: pointer;
}

::-moz-placeholder {
  color: hsl(0deg, 0%, 69%);
  opacity: 0.9;
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: hsl(0deg, 0%, 69%);
  opacity: 0.9;
  font-style: italic;
  font-weight: 400;
}

::placeholder {
  color: hsl(0deg, 0%, 69%);
  opacity: 0.9;
  font-style: italic;
  font-weight: 400;
}

::-moz-selection {
  background-color: hsl(237deg, 67%, 41%);
  color: whitesmoke;
}

::selection {
  background-color: hsl(237deg, 67%, 41%);
  color: whitesmoke;
}

section {
  padding: 0;
}
section:not(.hero) {
  padding-bottom: 6rem;
}
@media all and (max-width: 750px) {
  section:not(.hero) {
    padding-bottom: 4rem;
  }
}

.container, .container--sm {
  width: calc(100% - 2.5rem);
  margin: 0 auto;
  max-width: 1200px;
}
.container--sm {
  max-width: 900px;
}

.section-title {
  font-size: clamp(1.75rem, 4vw, 2.25rem);
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  color: hsl(240deg, 97%, 20%);
  margin-bottom: 2rem;
}

.subsection-title {
  font-size: clamp(1.35rem, 3vw, 1.75rem);
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  color: hsl(240deg, 97%, 20%);
  margin-bottom: 1.15rem;
}

.subtitle {
  font-size: clamp(1rem, 3vw, 1.15rem);
  margin-bottom: 2.5rem;
  font-weight: 300;
  color: hsl(0deg, 0%, 50%);
}

.link-wrapper {
  display: block;
}

.full-size {
  min-height: 90vh;
  padding: 3rem 0;
}

.display-img {
  box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.list-unstyled {
  list-style: none;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mr-5 {
  margin-right: 2rem;
}

.ml-5 {
  margin-left: 2rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.mt-6 {
  margin-top: 2.5rem;
}

.mr-6 {
  margin-right: 2.5rem;
}

.ml-6 {
  margin-left: 2.5rem;
}

.mb-6 {
  margin-bottom: 2.5rem;
}

.mt-7 {
  margin-top: 3rem;
}

.mr-7 {
  margin-right: 3rem;
}

.ml-7 {
  margin-left: 3rem;
}

.mb-7 {
  margin-bottom: 3rem;
}

.mt-8 {
  margin-top: 3.5rem;
}

.mr-8 {
  margin-right: 3.5rem;
}

.ml-8 {
  margin-left: 3.5rem;
}

.mb-8 {
  margin-bottom: 3.5rem;
}

.mt-9 {
  margin-top: 4rem;
}

.mr-9 {
  margin-right: 4rem;
}

.ml-9 {
  margin-left: 4rem;
}

.mb-9 {
  margin-bottom: 4rem;
}

.mt-10 {
  margin-top: 4.5rem;
}

.mr-10 {
  margin-right: 4.5rem;
}

.ml-10 {
  margin-left: 4.5rem;
}

.mb-10 {
  margin-bottom: 4.5rem;
}

.mt-11 {
  margin-top: 5rem;
}

.mr-11 {
  margin-right: 5rem;
}

.ml-11 {
  margin-left: 5rem;
}

.mb-11 {
  margin-bottom: 5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: hsl(237deg, 57%, 22%);
  color: hsl(0deg, 0%, 94%);
  box-shadow: 1px 1px 1px hsl(237deg, 57%, 31%);
  font-size: 0.9rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
header ~ * {
  margin-top: 4rem;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0;
  gap: 1rem;
  max-width: 1200px;
}
@media all and (max-width: 455px) {
  header .nav {
    padding: 0.5rem 0;
  }
}
header .nav__section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .nav .menu-toggler {
  display: none;
}
@media all and (max-width: 800px) {
  header .nav .menu-toggler {
    display: inline-block;
  }
}
header .nav .menu-toggler i {
  display: block !important;
  min-width: 100% !important;
  min-height: 100% !important;
  font-size: 1.5rem;
}
header .nav__brand {
  width: 25px;
  margin-bottom: -0.5rem;
}
header .nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 1.75rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1.5rem;
  list-style: none;
}
@media all and (max-width: 800px) {
  header .nav__list {
    transform: translateX(-120%);
    visibility: hidden;
    position: absolute;
    margin-left: 0;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem 2rem 5rem;
    background-color: rgb(0, 0, 36);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 15;
    transition: all 250ms ease-in;
  }
  header .nav__list.active {
    transform: translateX(0);
    visibility: visible;
  }
  header .nav__list.active ~ .nav__backdrop {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
header .nav__backdrop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: block;
  position: fixed;
  inset: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 250ms ease-in;
  overflow: hidden;
}
header .nav__item {
  position: relative;
}
header .nav__link {
  position: relative;
  outline: none;
  text-transform: capitalize;
  font-size: 1rem;
}
@media all and (max-width: 800px) {
  header .nav__link {
    font-size: 0.9rem;
  }
}
header .nav__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(0deg, 0%, 94%);
  transform: scaleX(0);
  transition: transform 150ms ease-in;
}
header .nav__link:hover::before, header .nav__link:focus-within::before, header .nav__link.active::before {
  transform: scaleX(1);
}
header .nav__close-btn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}
@media all and (max-width: 800px) {
  header .nav__close-btn {
    display: inline-block;
  }
}
header .nav #open-nav-search-btn {
  transform: scale(1.1);
  margin-right: 0.25rem;
}
header .nav__icon {
  background-color: transparent;
  border: 0;
  color: hsl(0deg, 0%, 94%);
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 100ms ease-in;
}
header .nav__icon:hover, header .nav__icon:focus {
  color: rgb(205, 205, 205);
}
header .nav__search-form {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: hsl(0deg, 0%, 97%);
  transform: translateY(-100%);
  visibility: hidden;
  transition: all 100ms ease-in;
}
header .nav__search-form.active {
  transform: translateY(0);
  visibility: visible;
}
header .nav__search-form button[type=submit] {
  color: hsl(237deg, 57%, 22%);
}
header .nav__search-form #close-nav-search-btn {
  color: hsl(0deg, 0%, 29%);
  font-size: 1rem;
}
header .nav__search-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .nav__search-bar {
  width: 100%;
  padding: 0.25em 0.25em 0.2em 0;
  border: 0;
  font-size: 1rem;
  background-color: hsl(0deg, 0%, 97%);
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  outline: none;
}

.btn, .btn--block, .btn--sm, .btn--outline-light, .btn--light, .btn--outline-dark, .btn--dark {
  display: inline-block;
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  transition: 100ms ease-in;
  font-size: inherit;
}
.btn--dark {
  background-color: hsl(237deg, 57%, 31%);
  color: hsl(0deg, 0%, 94%);
}
.btn--dark:hover, .btn--dark:focus {
  color: hsl(0deg, 0%, 94%);
  background-color: hsl(237deg, 57%, 22%);
}
.btn--outline-dark {
  background-color: transparent;
  color: hsl(0deg, 0%, 29%);
  box-shadow: 0 0 0 1px hsl(237deg, 57%, 31%);
}
.btn--outline-dark:hover, .btn--outline-dark:focus {
  color: hsl(0deg, 0%, 94%);
  background-color: hsl(237deg, 57%, 31%);
}
.btn--light {
  background-color: hsl(0deg, 0%, 97%);
  color: hsl(0deg, 0%, 29%);
}
.btn--light:hover, .btn--light:focus {
  background-color: #d6d6d6;
  color: #575757;
}
.btn--outline-light {
  background-color: transparent;
  color: hsl(0deg, 0%, 94%);
  box-shadow: 0 0 0 1px hsl(0deg, 0%, 97%);
}
.btn--outline-light:hover, .btn--outline-light:focus {
  background-color: hsl(0deg, 0%, 97%);
  color: hsl(0deg, 0%, 29%);
}
.btn--sm {
  padding: 0.5em;
  font-size: 0.85rem;
}
.btn--block {
  width: 100%;
  padding: 0.75em;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 1rem;
}
.search__wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}
.search__form {
  width: 100%;
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 660px) {
  .search__form {
    flex-direction: column-reverse;
  }
}
.search__form > *:nth-child(1) {
  width: 100%;
}
@media only screen and (min-width: 660px) {
  .search__form > *:nth-child(1) {
    width: 47%;
  }
}
.search__form > *:nth-child(2) {
  width: 100%;
}
@media only screen and (min-width: 660px) {
  .search__form > *:nth-child(2) {
    width: 53%;
  }
}
.search__bar-wrapper {
  display: flex;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.search__bar {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.925rem 1rem;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 100%);
  color: rgb(82, 82, 82);
}
.search__btn {
  position: relative;
  padding: 0.925rem 1.25rem;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  margin-left: -1rem;
  transition: 100ms ease-in;
}
.search__btn i {
  transform: scale(1.25);
}

.footer {
  margin-top: auto;
  background-color: hsl(237deg, 57%, 22%);
  color: hsl(0deg, 0%, 94%);
  font-size: 0.9rem;
}
.footer__wrapper {
  display: grid;
  gap: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 470px) and (max-width: 800px) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}
@media only screen and (min-width: 800px) {
  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__logo {
  width: 200px;
}
.footer__nav-list {
  list-style: none;
  display: grid;
  gap: 0.25rem;
  margin-top: 1rem;
}
.footer__link {
  font-size: 0.85rem;
  text-decoration: underline;
}
.footer__btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__btns div:first-of-type {
  margin-bottom: 0.75rem;
}
.footer__btns p {
  margin-bottom: 0.75rem;
}
.footer__contato {
  width: min(400px, 100%);
}
@media only screen and (min-width: 470px) and (max-width: 800px) {
  .footer__contato {
    grid-column: span 2;
    justify-self: center;
  }
}
.footer__form {
  display: grid;
  gap: 0.5rem;
}
.footer__form input,
.footer__form textarea {
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 0;
}
.footer__form textarea {
  min-height: 80px;
  resize: none;
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.75rem;
  border-top: 1px solid hsl(0deg, 0%, 77%);
  color: hsl(0deg, 0%, 77%);
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: grid;
  place-items: center;
  z-index: 8;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 1.25rem;
  background-color: #2F41AB;
  color: white;
  box-shadow: 0 0 3px black;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}
.back-to-top.active {
  opacity: 0.8;
  pointer-events: all;
  color: white;
}

.info {
  position: relative;
}
.info__icon {
  color: hsl(240deg, 97%, 20%);
  margin-right: 0.3rem;
}
.info__title {
  color: hsl(240deg, 97%, 20%);
  font-weight: 500;
  margin-right: 0.25rem;
}
.info__content {
  position: relative;
}

.destaques__grid {
  display: grid;
  place-items: center;
  gap: 1rem;
}
@media all and (min-width: 650px) {
  .destaques__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.destaques__grid-item {
  position: relative;
  border-radius: 5px;
}

.slider {
  position: relative;
}

.scroller, .scroller--sm {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  gap: 0.75rem;
  padding-bottom: 0.25rem;
  overflow: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
}
@media only screen and (max-width: 1000px) {
  .scroller, .scroller--sm {
    grid-auto-columns: 29%;
  }
}
@media only screen and (max-width: 700px) {
  .scroller, .scroller--sm {
    grid-auto-columns: 36%;
  }
}
@media only screen and (max-width: 550px) {
  .scroller, .scroller--sm {
    grid-auto-columns: 72%;
    padding-inline: 0;
  }
}
.scroller__item {
  scroll-snap-align: start;
  border-radius: 5px;
}
@media only screen and (max-width: 550px) {
  .scroller__item {
    scroll-snap-align: center;
  }
}
@supports (scrollbar-width: thin) {
  .scroller, .scroller--sm {
    scrollbar-width: thin;
    scrollbar-color: rgb(180, 180, 180) transparent;
  }
}
.scroller::-webkit-scrollbar, .scroller--sm::-webkit-scrollbar {
  height: 7px;
}
.scroller::-webkit-scrollbar-track, .scroller--sm::-webkit-scrollbar-track {
  background: transparent;
}
.scroller::-webkit-scrollbar-thumb, .scroller--sm::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(180, 180, 180);
}
.scroller--sm {
  grid-auto-columns: 9%;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 1000px) {
  .scroller--sm {
    grid-auto-columns: 12%;
  }
}
@media only screen and (max-width: 730px) {
  .scroller--sm {
    grid-auto-columns: 16%;
  }
}
@media only screen and (max-width: 630px) {
  .scroller--sm {
    grid-auto-columns: 24%;
  }
}

.scroller__btn, .scroller__btn--right, .scroller__btn--left {
  position: absolute;
  top: 40%;
  z-index: 6;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  background-color: rgb(128, 128, 128);
  opacity: 0.8;
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 50%;
  transition: 150ms;
}
.scroller__btn:hover, .scroller__btn--right:hover, .scroller__btn--left:hover, .scroller__btn:focus, .scroller__btn--right:focus, .scroller__btn--left:focus {
  opacity: 0.9;
}
.scroller__btn--left {
  left: -15px;
}
.scroller__btn--right {
  right: -15px;
}

.icon-wrapper, .icon-wrapper--whatsapp, .icon-wrapper--instagram, .icon-wrapper--facebook, .icon-wrapper--sm {
  background-color: hsl(237deg, 57%, 31%);
  color: hsl(0deg, 0%, 94%);
  display: grid;
  place-items: center;
  padding: 1.25rem;
  border-radius: 50%;
  transition: 200ms ease-in;
}
.icon-wrapper > *, .icon-wrapper--whatsapp > *, .icon-wrapper--instagram > *, .icon-wrapper--facebook > *, .icon-wrapper--sm > * {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.icon-wrapper--sm {
  padding: 0.5rem;
}
.icon-wrapper--facebook {
  background-color: hsl(220deg, 46%, 48%);
}
.icon-wrapper--facebook:hover, .icon-wrapper--facebook:focus {
  background-color: #34528d;
}
.icon-wrapper--instagram {
  background-color: hsl(44deg, 99%, 57%);
}
.icon-wrapper--instagram:hover, .icon-wrapper--instagram:focus {
  background-color: #efaf01;
}
.icon-wrapper--whatsapp {
  background-color: hsl(142deg, 70%, 43%);
}
.icon-wrapper--whatsapp:hover, .icon-wrapper--whatsapp:focus {
  background-color: #198f44;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}
.cards-container .card, .cards-container .card--destaque, .cards-container .card--medio, .cards-container .card--gratuito {
  display: grid;
  gap: 1.5rem;
  background-color: hsl(0deg, 0%, 97%);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2rem;
  width: min(300px, 100%);
  transition: 150ms ease-in;
}
@media (hover: hover) {
  .cards-container .card:hover, .cards-container .card--destaque:hover, .cards-container .card--medio:hover, .cards-container .card--gratuito:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    transform: scale(102%);
  }
}
.cards-container .card--gratuito {
  --card-color: hsl(237, 57%, 31%);
  order: 1;
}
.cards-container .card--medio {
  --card-color: hsl(120, 50%, 53%);
  order: 3;
}
.cards-container .card--destaque {
  --card-color: hsl(35, 69%, 58%);
  order: 3;
}
@media only screen and (min-width: 1027px) {
  .cards-container .card--destaque {
    order: 2;
    transform: scale(105%);
  }
  .cards-container .card--destaque:hover {
    transform: scale(108%);
  }
}
.cards-container .card__price {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(10%);
  color: var(--card-color);
}
.cards-container .card__price .currency {
  position: absolute;
  top: 20%;
  left: -25%;
}
.cards-container .card__price .real {
  font-size: 3rem;
}
.cards-container .card__price .cents {
  font-size: 1rem;
}
.cards-container .card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.cards-container .card__list-item {
  display: flex;
  gap: 1rem;
}
.cards-container .card__list-item.positive i {
  color: hsl(204deg, 56%, 47%);
}
.cards-container .card__list-item.negative i {
  color: hsl(0deg, 82%, 70%);
}
.cards-container .card__list-item span {
  flex-grow: 1;
  font-size: 0.9rem;
}
.cards-container .card .btn-purchase, .cards-container .card--gratuito .btn-purchase, .cards-container .card--medio .btn-purchase, .cards-container .card--destaque .btn-purchase {
  background-color: var(--card-color);
  color: hsl(0deg, 0%, 94%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: 100ms ease-in;
  width: 100%;
}
.cards-container .card .btn-purchase:hover, .cards-container .card--gratuito .btn-purchase:hover, .cards-container .card--medio .btn-purchase:hover, .cards-container .card--destaque .btn-purchase:hover {
  transform: scale(102%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 11;
  display: grid;
  place-items: center;
  padding: 10rem 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  transition: 150ms ease-in;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal__content {
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  width: min(600px, 100% - 2rem);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 2rem;
  padding-bottom: 1rem;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.75rem;
  border-bottom-left-radius: 10px;
  background-color: hsl(237deg, 57%, 22%);
  color: hsl(0deg, 0%, 94%);
  font-size: 1.25rem;
  border: 0;
}
.modal__body {
  margin-bottom: 1rem;
}
.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.select {
  position: relative;
  padding: 0.925rem;
  font-size: 1rem;
  border: 0;
  outline: 0;
  background-color: hsl(0deg, 0%, 100%);
  color: rgb(82, 82, 82);
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  z-index: 7;
}
.select::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 17px;
  right: 22px;
  transform: rotate(-45deg);
  border-bottom: 2px solid hsl(237deg, 57%, 31%);
  border-left: 2px solid hsl(237deg, 57%, 31%);
  cursor: pointer;
  pointer-events: none;
  transform-origin: center;
  transition: 200ms ease-in-out;
}
.select.active::after {
  top: 22px;
  transform: rotate(135deg);
}
.select__display {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.select__display i {
  color: hsl(237deg, 57%, 31%);
}
.select__display input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  cursor: pointer;
}
.select__options-container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-height: 200px;
  transform: translateY(calc(100% - 5px));
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(0deg, 0%, 100%);
  overflow-y: auto;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: 150ms ease-in-out;
}
.select.active .select__options-container {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(calc(100% + 10px));
}
.select__option {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  transition: 150ms;
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
}
.select__option:not(:first-child) {
  border-top: 1px solid lightgray;
}
.select__option:hover, .select__option:focus, .select__option.active {
  background-color: hsl(237deg, 57%, 31%);
  color: hsl(0deg, 0%, 94%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1.25rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.form__cols {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 800px) {
  .form__cols {
    flex-direction: column;
    gap: 2rem;
  }
}
.form__cols * {
  flex: 1;
  width: 100%;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form__label {
  color: hsl(237deg, 57%, 31%);
  font-weight: 500;
}
.form__input {
  outline: none;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 0.25em 0.5em;
  font-size: 0.95rem;
  background-color: hsl(0deg, 0%, 100%);
  transition: 100ms ease-in;
}
.form__input:focus {
  box-shadow: 0 0 0 4px hsla(195deg, 53%, 75%, 0.7), 0 0 0 1px hsl(195deg, 53%, 55%);
}
.form__submit {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 0.75rem;
}
.form textarea {
  resize: vertical;
  min-height: 150px;
}

body {
  background-color: hsla(195deg, 53%, 79%, 0.2);
}

.hero {
  display: grid;
  place-items: center;
  padding: 2.5rem 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.logo {
  width: 400px;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 500px) {
  .logo {
    width: 300px;
  }
}

.sobre {
  position: relative;
  margin: calc(3rem + 2vw) auto;
  padding: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
@media only screen and (max-width: 460px) {
  .sobre {
    padding: 3rem 2rem;
  }
}

.planos {
  display: grid;
  place-items: center;
  background-image: linear-gradient(hsla(195deg, 53%, 79%, 0.2), hsla(195deg, 53%, 79%, 0.2));
  background-size: 100% 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.resultados {
  word-wrap: break-word;
}
@media all and (min-width: 650px) {
  .resultados {
    margin-top: 3rem;
  }
}

.resultados-wrapper {
  display: grid;
  gap: 1rem;
}
.resultados-wrapper .resultado {
  display: grid;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  background-color: hsla(195deg, 53%, 79%, 0.2);
  transition: 150ms;
  box-shadow: inset 0 0 4px hsla(195deg, 53%, 79%, 0.2), inset 0 0 8px hsla(195deg, 53%, 79%, 0.2), inset 0 0 12px hsla(195deg, 53%, 79%, 0.2);
}
@media only screen and (min-width: 540px) {
  .resultados-wrapper .resultado {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (hover: hover) {
  .resultados-wrapper .resultado:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), inset 0 0 4px hsla(195deg, 53%, 79%, 0.2), inset 0 0 8px hsla(195deg, 53%, 79%, 0.2), inset 0 0 12px hsla(195deg, 53%, 79%, 0.2);
    transform: scale(102%);
    z-index: 1;
  }
}
.resultados-wrapper .resultado__header {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.resultados-wrapper .resultado__header:hover, .resultados-wrapper .resultado__header:focus-within {
  text-decoration: underline;
}
.resultados-wrapper .resultado__img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.resultados-wrapper .resultado__title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  color: hsl(240deg, 97%, 20%);
}
.resultados-wrapper .resultado__address {
  line-height: 1.3;
  margin-top: 0.25rem;
}
.resultados-wrapper .resultado__address p:nth-child(1) {
  font-weight: 600;
}
.resultados-wrapper .resultado__address p:nth-child(2) {
  font-size: 0.9rem;
}
.resultados-wrapper .resultado__phone {
  font-size: 0.9rem;
}
@media only screen and (min-width: 540px) {
  .resultados-wrapper .resultado__phone {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    font-size: 1rem;
  }
}
.resultados-wrapper .resultado__time {
  font-size: 0.9rem;
}
@media only screen and (min-width: 540px) {
  .resultados-wrapper .resultado__time {
    justify-self: end;
    align-self: start;
    font-size: 1rem;
  }
}
.resultados-wrapper .resultado p {
  margin: 0;
}

.anunciante {
  position: relative;
  margin-bottom: 3.25rem;
  padding-bottom: 3.25rem;
  border-bottom: 2px solid lightgrey;
}
.anunciante__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.anunciante__header h1 {
  margin: 0;
}
.anunciante__header img {
  width: 15px;
}
.anunciante__wrapper {
  display: grid;
  gap: 1.75rem;
  grid-template-areas: "first" "contact" "social" "description" "address";
}
@media only screen and (min-width: 700px) {
  .anunciante__wrapper {
    grid-template-areas: "first contact" "first social" "description address";
    grid-template-columns: 1fr 230px;
  }
}
.anunciante__contact {
  grid-area: contact;
  align-self: end;
  word-break: break-all;
}
.anunciante__social {
  grid-area: social;
  align-self: center;
}
@media only screen and (max-width: 700px) {
  .anunciante__social {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .anunciante__social h2 {
    margin-left: auto;
    margin-right: auto;
  }
}
.anunciante__social-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 280px;
}
@media only screen and (max-width: 700px) {
  .anunciante__social-wrapper {
    justify-content: center;
    margin: 0 auto;
  }
}
.anunciante__address {
  grid-area: address;
}
.anunciante__address-wrapper {
  display: grid;
  grid-template-columns: 1fr 100%;
  gap: 0.25rem;
}
.anunciante__address-wrapper i {
  grid-row: span 4;
}
.anunciante__address-wrapper > :nth-child(2) {
  line-height: 1.2;
  font-weight: 600;
}
.anunciante__address-wrapper > :nth-child(4) {
  font-size: 0.9rem;
}
.anunciante div:first-child {
  grid-area: first;
}
.anunciante__description {
  grid-area: description;
}
.anunciante__img {
  margin-bottom: 0.5rem;
}
.anunciante h2 {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 600;
}
.anunciante h2::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(240deg, 97%, 20%);
  opacity: 0.5;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  gap: 1.25rem;
  padding: 1.5rem;
  border-radius: 5px;
  width: min(350px, 100%);
}
.login__logo {
  width: 50px;
  margin-bottom: 1.5rem;
}
.login__group {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.login__group span {
  padding: 0.45em 0.75em;
  border-right: 2px solid lightgrey;
  color: hsl(237deg, 57%, 31%);
  font-size: 0.9rem;
}
.login__input {
  width: 100%;
  padding: 0.5em 0.75em;
  border: 0;
  outline: none;
  font-size: 0.9rem;
}
.login__input::-moz-placeholder {
  color: hsl(0deg, 0%, 63%);
}
.login__input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 63%);
}
.login__input::placeholder {
  color: hsl(0deg, 0%, 63%);
}/*# sourceMappingURL=main.css.map */