
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem 0;
  text-align: center;
  gap: 1rem;

  &__wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 800px;
  }
  
  
  &__form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media all and (max-width: 650px) {
      flex-direction: column;
    }
  }
  
  &__bar {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 0;
    outline: 0;
    border-radius: 3px;
    color: rgb(82, 82, 82);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 0.5em rgb(0, 0, 0, 0.4);

    &::placeholder {
      color: rgb(116, 116, 116);
    }
  }
  
  .btn {
    padding: 1rem;

    @media all and (max-width: 650px) {
      width: 100%;
    }
  }
}





  