
.text-center {
  text-align: center;
}
  
.list-unstyled {
  list-style: none;
}

.no-select {
  user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none; 
  -webkit-user-drag: none; 
}

$space-sizes: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1.5rem,
  5: 2rem
);

$sides: (
  t: top,
  r: right,
  l: left,
  b: bottom 
);

@each $size, $value in $space-sizes {
  @each $infix, $side in $sides {
    .m#{$infix}-#{$size} {
      margin-#{$side}: $value;
    }
  }
}
